{% extends "base.html" %}
{% block content %}

  <p>
    <a href="{{base_path}}/laakkeet" 
      button type="button" 
      class="btn btn-primary btn-xs">Palaa lääkelistaukseen</button></a>
  </p>

  <h2>{{laake.tuotenimi}}</h2>

 

  <!-- Tiedot tulee listana tähän -->
  <ul>

    <li><strong>Lääkeaine:</strong>...</li>
    <li><strong>Vahvuus:</strong>...</li>
    <li><strong>Pakkaus:</strong> {{laake.pakkaus}}</li>
    
  </ul>

   {% for laakkeenosa in laakkeenosat %}
      <tr>
        <td>{{laakkeenosa.nimi}}</td>
         <td>{{laakkeenosa.vahvuus}}</td>
      </tr>
    {% endfor %}

  <!-- Kuvaus tulee tähän -->
  <p>
    <strong>Käyttö:</strong>
    {{laake.kayttoaihe}}
  </p>

    
 <!-- Painikkeet tähän --> 
        <td><button type="button" class="btn btn-warning" href="#">Muokkaa</button></td>
        <td><button type="button" class="btn btn-danger" href="#">Poista</button></td>
      </tr>

{% endblock %}