{% extends "base.html" %}
{% block content %}

<!-- Linkki yläsivulle --> 
  <p>
    <a href="{{base_path}}/reseptit" button type="button" class="btn btn-primary btn-xs">Palaa reseptilistaukseen</button></a>
  </p>

<!-- Otsikko -->   
  <h1>Lääkelistaus</h1>
 
<!-- Listaus eri lääkkeistä--> 
  <table class="table table-striped table-bordered">
    
    <thead>
      <tr>
        <th>Rekisteröintinumero</th>
        <th>Tuotenimi</th>
        <th>Pakkauskoko ja lääkemuoto</th>
      </tr>
    </thead>

    <tbody>
      {% for laake in laakkeet %}
        <tr>
          <td>{{laake.id}}</td>
          <td><a href="{{base_path}}/laakkeet/{{laake.id}}">{{laake.tuotenimi}}</td>
          <td>{{laake.pakkaus}}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

<!-- Lisäyspainike --> 
  <p>
    <a href="{{base_path}}/laakkeet/uusi" class="btn btn-success">Lisää uusi lääke</a>
  </p>

{% endblock %}