{% extends "base.html" %}
{% block content %}

  <p>
    <a href="{{base_path}}/reseptit" 
      button type="button" 
      class="btn btn-primary btn-xs">Palaa reseptilistaukseen</button></a>
  </p>
  
  <h1>Lääkelistaus</h1>
 
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rekisteröintinumero</th>
        <th>Tuotenimi</th>
        <th>Pakkauskoko ja lääkemuoto</th>
        <th colspan="2"> Toiminnot</th>
      </tr>
    </thead>

    <tbody>

      <!-- Listataan lääkkeet tähän -->

      {% for laake in laakkeet %}
      <tr>
        <td><a href="{{base_path}}/laakkeet/{{laake.id}}">{{laake.id}}</td>
        <td><a href="{{base_path}}/laakkeet/{{laake.id}}">{{laake.tuotenimi}}</td>
        <td>{{laake.pakkaus}}</td>
        <td><button type="button" class="btn btn-warning" href="#">Muokkaa</button></td>
        <td><button type="button" class="btn btn-danger" href="#">Poista</button></td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>

  <p>
    <a href="{{base_path}}/laakkeet/uusi" class="btn btn-success">Lisää uusi lääke</a>
  </p>

{% endblock %}