{% extends "base.html" %}
{% block content %}
  
  <h1>Ainesosalistaus</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tunnistenumero</th>
        <th>Ainesosa</th>
        <th colspan="2">Toiminnot</th>
      </tr>
    </thead>

    <tbody>
      
      {% for ainesosa in ainesosat %}

      <tr>
        <td><a href="{{base_path}}/ainesosat/{{ainesosa.id}}">{{ainesosa.id}}</td>
        <td>{{ainesosa.aine}}</td>
        <td><button type="button" class="btn btn-warning" href="#">Muokkaa</button></td>
        <td><button type="button" class="btn btn-danger" href="#">Poista</button></td>
      </tr>

      {% endfor %}

    </tbody>

  </table>

  <p>
    <a href="/tsoha2017/ainesosat/uusi" class="btn btn-success">Lisää uusi ainesosa</a>
  </p>

{% endblock %}