{% extends "base.html" %}
{% block content %}
{% import "macros/go_back.html" as go_back %}

<!-- Linkki yläsivulle --> 
  <p>
    {{go_back.go_back_button("#{base_path}/reseptit", 'Palaa reseptilistaukseen')}}
  </p>


  <!-- Viestit --> 
  {% if message %}
    <div 
        class="alert alert-success">{{message}}
    </div>
  {% endif %}  

<!-- Varoitukset --> 
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
<!-- Otsikko --> 
  <h1>Ainesosalistaus</h1>
  <p>Ainesosaa voi tarkastella napauttamalla nimeä.</p>
<!-- Listaus --> 
  <table class="table table-striped table-bordered">
    
    <thead>
      <tr>
        <th>Eurooppalainen tunnistenumero</th>
        <th>Ainesosa</th>
      </tr>
    </thead>

    <tbody>
      {% for ainesosa in ainesosat %}
        <tr>
          <td>{{ainesosa.id}}</td>
          <td><a href="{{base_path}}/ainesosat/{{ainesosa.id}}" button type="button" class="btn btn-info">{{ainesosa.aine}}</button></a></td>
        <tr>  
      {% endfor %}
    </tbody>

  </table>

<!-- Muokkauspainikkeet --> 
  <p>
    <a href="{{base_path}}/ainesosat/uusi" class="btn btn-success">Lisää uusi ainesosa</a>
  </p>

{% endblock %}