{% extends "base.html" %}
{% block content %}

<!-- Otsikko tähän --> 
  <h2>{{ainesosa.aine}}</h2>
 
<!-- Painikkeet tähän --> 
    <td> 
        <a href="{{base_path}}/ainesosat/{{ainesosa.id}}/muokkaa" class="btn btn-warning">Muokkaa</button></a>
    </td>

     <td> 
        <a href="{{base_path}}/ainesosat/{{ainesosa.id}}/poista" class="btn btn-danger">Poista</button></a>
    </td>

 <td> 
    <form method="post" action="{{base_path}}/ainesosat/{{ainesosa.id}}/poista" style="display: inline-block;">

    <button type="submit" class="btn btn-danger">Poista ainesosa</button>

  </form>
  </td>

{% endblock %}
