{% extends "base.html" %}
{% block content %}
{% import "macros/buttons.html" as buttons %}

<!-- Linkki yläsivulle --> 
  <p>
    {{buttons.go_back_button("#{base_path}/ainesosat", 'Palaa ainesosalistaukseen')}}
  </p>


<!-- Otsikko --> 
  <h1>Muokkaa ainesosaa: {{ainesosa.aine}} </h1>

<!-- Viestit --> 
  {% if message %}
    <div 
      class="alert alert-success">{{message}}
    </div>
  {% endif %}  

<!-- Varoitukset --> 
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}   

<!-- Muokkauslomake --> 
  <form method="post" action="{{base_path}}/ainesosat/{{ainesosa.id}}/muokkaa">
   
    <div class="form-group">
      <label>Ainesosa</label>
      <input type="text" name="aine" autofocus class="form-control" value="{{ainesosa.aine}}">
    </div>

    <div class="form-group">
      {{buttons.save_button("#{base_path}/ainesosat/#{ainesosa.id}/muokkaa", "Tallenna muutos")}}
    </div>

  </form>

{% endblock %}