{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<!-- Linkki yläsivulle --> 
  <p>
    <a href="{{base_path}}/ainesosat" button type="button" class="btn btn-primary btn-xs">Palaa ainesosalistaukseen</button></a>
  </p>

<!-- Otsikko --> 
  <h3>Tarkastelet ainesosaa:</h3>
  <h2>{{ainesosa.aine}}</h2>
 
<!-- Muokkauspainikkeet --> 
  <td> 
    <a href="{{base_path}}/ainesosat/{{ainesosa.id}}/muokkaa" class="btn btn-warning">Muokkaa</button></a>
  </td>

  <td> 
    {{forms.destroy_button("#{base_path}/ainesosat/#{ainesosa.id}/poista")}}
  </td>

{% endblock %}
