{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<p>
    <a href="{{base_path}}/ainesosat" 
      button type="button" 
      class="btn btn-primary btn-xs">Palaa ainesosalistaukseen</button></a>
  </p>

<!-- Otsikko tähän --> 
  <h3>Tarkastelet ainesosaa:</h3>
  <h2>{{ainesosa.aine}}</h2>
 
<!-- Painikkeet tähän --> 
    <td> 
        <a href="{{base_path}}/ainesosat/{{ainesosa.id}}/muokkaa" 
        class="btn btn-warning">Muokkaa</button></a>
        </td>

    <td> 

    {{forms.destroy_button("#{base_path}/ainesosat/#{ainesosa.id}/poista")}}

<!--
        <form 
            method="post" 
            action="{{base_path}}/ainesosat/{{ainesosa.id}}/poista" 
            style="display: inline-block;">

            <button 
                type="submit" 
                class="btn btn-danger">Poista ainesosa</button>
        </form>
-->
     </td>

{% endblock %}
