{% extends "base.html" %}
{% block content %}

  <h2>Kipuxiini</h2>

 

  <!-- Tiedot tulee listana tähän -->
  <ul>

    <li><strong>Lääkeaine:</strong> ibuxinitus</li>
    <li><strong>Vahvuus:</strong> 50 mg</li>
    <li><strong>Pakkaus:</strong> 100 kapselia</li>
    
  </ul>

  <!-- Kuvaus tulee tähän -->
  <p>
    <strong>Käyttö:</strong>
    Erilaisiin kurkkukipuihin 1 tabletti vuorokaudessa.
  </p>

 <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}