{% extends "base.html" %}
{% block content %}

  <h2>Resepti 1</h2>

 

  <!-- Tiedot tulee listana tähän -->
  <ul>

    <li><strong>Lääke:</strong> Kipuxiini</li>
    <li><strong>Kirjoituspäivä:</strong> 03.08.2017</li>
    <li><strong>Potilas:</strong> Tukka Sotka</li>
    <li><strong>Lääkäri:</strong> Karri Kardiologi</li>
  </ul>

  <!-- Kuvaus tulee tähän -->
  <p>
    <strong>Ohje:</strong>
    1 tabletti iltaisin.
  </p>

 <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}