{% extends "base.html" %}
{% block content %}

  <h1>Kirjaudu sisään</h1>

  {% if message %}
    <div 
        class="alert alert-danger">
        {{message}}
    </div>
  {% endif %}   

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form 
      method="post" 
      action="{{base_path}}/kirjautuminen">

    <!-- Tekstikenttä käyttäjätunnukselle -->
      <div 
        class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text"
        autofocus 
        class="form-control" 
        name="kayttajatunnus"
        value="{{kayttajatunnus}}">
      </div>

    <!-- Salasanakenttä salasanalle -->
      <div 
        class="form-group">
        <label>Salasana</label>
        <input type="password" 
        class="form-control"
        name="salasana">
      </div>                                  

    <!-- Painike -->
      <button 
        type="submit"
        class="btn btn-primary">Kirjaudu sisään
      </button>
    
  </form>

{% endblock %}