{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<!-- Linkki yläsivulle -->
  <p>
    <a href="{{base_path}}/reseptit" button type="button" class="btn btn-primary btn-xs">Palaa reseptilistaukseen</button></a>
  </p>

  <!-- Viestit --> 
  {% if message %}
    <div 
        class="alert alert-success">{{message}}
    </div>
  {% endif %}  

<!-- Varoitukset --> 
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}  

<!-- Otsikko -->
  <h2>Resepti {{resepti.id}}</h2>

<!-- Reseptin tiedot listana -->
  <ul>
    <li><strong>Reseptin numero:  </strong> {{resepti.id}}</li>
    <li><strong>Apteekki:         </strong> {{resepti.apteekki}}</li>
    <li><strong>Potilas:          </strong> {{resepti.potilas}}</li>
    <li><strong>Lääkäri:          </strong> {{resepti.laakari}}</li>
    <li><strong>Lääkkeen nimi:    </strong> {{resepti.laake}}</li>
    <li><strong>Kirjoituspäivä:   </strong> {{resepti.paivamaara}}</li>
    <li><strong>Annostusohje:     </strong> {{resepti.ohje}}</li>
  </ul>
        
 <!-- Muokkauspainikkeet --> 
  
  <tr>

    <td> 
      <a href="{{base_path}}/reseptit/{{resepti.id}}/muokkaa" class="btn btn-warning">Muokkaa</button></a>
    </td>

    <td> 
      {{forms.destroy_button("#{base_path}/reseptit/#{resepti.id}/poista")}}
    </td>
  
  </tr>

{% endblock %}