{% extends "base.html" %}
{% block content %}
  
  <h1>Reseptilistaus</h1>

  {% if message %}
    <div 
        class="alert alert-success">
        {{message}}
    </div>
  {% endif %}  

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Reseptin numero</th>
        <th>Apteekki</th>
        <th>Potilas</th>
        <th>Lääkkeen määrääjä</th>
        <th>Määrätty lääke</th>
        <th>Kirjoituspäivä</th>
      </tr>
    </thead>

    <tbody>

      <!-- Listataan reseptit tähän -->
      {% for resepti in reseptit %}
      <tr>
        <td><a href="{{base_path}}/reseptit/{{resepti.id}}">{{resepti.id}}</td>
        <td>{{resepti.apteekki}}</td>
        <td>{{resepti.potilas}}</td>
        <td>{{resepti.laakari}}</td>
        <td>{{resepti.laake}}</td>
        <td>{{resepti.paivamaara}}</td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

  <p>
    <a href="/tsoha2017/reseptit/uusi" class="btn btn-success">Lisää uusi resepti</a>
  </p>

{% endblock %}